$family : Raleway
$open-family : opensans
$font-color : #86878b
$pos-width : 1057px

@font-face
  font-family: $family
  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf')  format('truetype'), url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: $open-family
  src: url('../fonts/opensans.ttf')
  font-weight: normal
  font-style: normal

*
  box-sizing: border-box

body
  font-family: $open-family
  margin: 0
  padding: 0

h1
  font-family: $family
  font-size: 26px
  text-transform: uppercase

.comments
  width: 100%

.comments__positioner
  width: $pos-width
  display: flex
  flex-flow: row wrap
  margin: auto

.comments__positioner_header
  flex: 3 $pos-width
  margin: 0
  padding: 0
  padding-top: 110px
  padding-bottom: 32px
  text-align: center

.comments__positioner_next-header
  flex: 3 $pos-width
  margin: 0
  padding: 0
  padding-top: 32px
  padding-bottom: 56px
  font-size: 11px
  color: $font-color
  text-align: center

img
  margin: 0 auto

.comments__positioner_comment-block
  flex: 1 0
  margin: 0
  padding: 0
  margin-bottom: 103px

.testimonial-text
  display: block
  width: 274px
  height: 148px
  background: #fff url('../images/testimonialbg.png') no-repeat
  font-size: 12px
  font-style: italic
  padding: 26px 13px 41px 13px

.avatar
  display: flex
  flex-flow: row wrap
  margin: 0
  padding: 0

.comments__positioner_comment-block
  img
    margin: 0
    padding: 0
    padding-top: 8px
    margin-right: 16px

.status-block
  display: flex
  flex-flow: column wrap

.name
  font-weight: bold
  font-size: 20px
  padding: 0
  margin: 0
  margin-top: 22px

.status
  font-weight: normal
  font-size: 11px
  padding: 0
  margin: 0
  margin-top: 6px

// начало следующего блока

.custom
  color: white
  background: url('../images/custombg.png')
  text-align: center

.custom__positioner
  width: $pos-width
  display: flex
  flex-flow: column wrap
  margin: auto

.custom__positioner_header
  margin-top: 74px
  margin-bottom: 31px

.custom__positioner_next-header
  font-size: 14px
  margin-top: 31px
  margin-bottom: 31px
  color: #a7acab

button
  width: 133px
  height: 40px
  margin: auto
  margin-bottom: 64px
  background-color: transparent
  color: #fff
  font-size: 12px
  border: #fff solid
